* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', sans-serif !important;
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Merriweather', sans-serif !important;
	font-weight: 400;
	background: #faf3eb;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh; /* Full screen height */
	min-width: 100%;
	max-width: 100%;
	gap: 2.5rem;
}

.landingPageMainContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh; /* Full screen height */
	min-width: 100%;
	max-width: 100%;
	gap: 2.5rem;
}

.landingPageBackgroundPhoto {
	background-size: cover;
	background-color: white;
	background-position: center;
	width: 100%;
	min-height: 31.75rem;
}

.backgroundPhotoCover {
	min-width: 100%;
	height: 31.75rem;
	background-color: #222222;
	position: absolute;
	opacity: 40%;
}
.landingPageMainQuote {
	min-width: 100%;
	height: 31.75rem;
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.landingPageMainContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.landingPageMainContent h1 {
	font-size: 40px; /* slightly smaller font so letters fit better */
	text-transform: uppercase;
	font-style: italic;
	white-space: nowrap;
	letter-spacing: 1.5vw; /* spread the letters wider */
	position: relative;
	margin: 0;
	padding: 0;
}

.landingPageMainContent h2 {
	font-size: 32px; /* slightly smaller font so letters fit better */
	text-transform: uppercase;

	white-space: nowrap;
	letter-spacing: 1.5vw; /* spread the letters wider */
}

.landingPageSecondaryContent {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.landingPageSecondaryContentParaOne {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
}

.landingPageSecondaryContentParaTwo {
	text-align: center;
	font-size: 13px;
	font-weight: 400;
}

.verticalBar {
	height: 4rem;
	width: 0.1rem;
	background-color: #222222;
	margin: auto;
	border-radius: 50px;
}
.newsletterSection {
	background-color: #faf3eb;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;
	width: 75%;
	margin: 0 auto;
}

.newsletterSection p {
	font-size: 13px;
	font-weight: 400;
	text-align: center;
}

.icons {
	display: flex;
	width: 50%;
	justify-content: space-around;
	align-items: center;
}

.icons img {
	height: 33.91px;
	width: 33.91px;
}

.footerBar {
	width: 100%;
	height: 2.8rem;
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

/* IPAD */
@media (min-width: 768px) and (max-width: 1024px) {
	.landingPageMainContainer {
		gap: 7rem;
	}
	.landingPageSecondaryContent {
		gap: 4rem;
	}

	.landingPageMainContent h1 {
		font-size: 100px;
		letter-spacing: 1.5vw;
	}
	.landingPageMainContent h2 {
		font-size: 32px; /* slightly smaller font so letters fit better */
		text-transform: uppercase;

		white-space: nowrap;
	}

	.landingPageSecondaryContentParaOne {
		font-size: 32px;
	}

	.landingPageSecondaryContentParaTwo {
		font-size: 28px;
	}
	.newsletterSection p {
		font-size: 20px;
	}
	.icons {
		width: 50%;
	}

	.icons img {
		height: 33.91px;
		width: 33.91px;
	}
}

/* WINDOPWES */
@media (min-width: 1024px) {
	.landingPageSecondaryContent {
		width: 75%;
	}

	.landingPageMainContainer {
		gap: 8rem;
	}
	.landingPageSecondaryContent {
		gap: 4rem;
	}
	.landingPageMainContent h1 {
		font-size: 60px;
		letter-spacing: 3vw;
	}

	.landingPageMainContent h2 {
		font-size: 32px; /* slightly smaller font so letters fit better */
		text-transform: uppercase;

		white-space: nowrap;
	}
	.landingPageSecondaryContentParaOne {
		font-size: 32px;
	}

	.landingPageSecondaryContentParaTwo {
		font-size: 28px;
	}
	.newsletterSection p {
		font-size: 24px;
	}
	.icons {
		width: 25%;
	}
}
