.rich-text-content strong {
	font-weight: 700 !important;
}
.rich-text-content em {
	font-style: italic !important;
}
.rich-text-content ul {
	list-style-type: disc !important;
	padding-left: 0;
	list-style-position: outside !important;
}

.rich-text-content ul > li {
	list-style-type: disc !important;
}

.rich-text-content ol {
	list-style-type: decimal !important;
	padding-left: 0;
	list-style-position: outside !important;
}

.rich-text-content ol > li {
	list-style-type: decimal !important;
}
