.servicesTitle {
	border-top: 1px solid #817d7a !important;
	opacity: 40%;
}
.servicesRowSpacer {
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.titleRow h1 {
	font-style: italic;
	font-size: 32px;
	margin: 0;
}
.titleRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.blogFilters {
	gap: 15px;
	display: flex;
	width: 50%;
	justify-content: flex-end;
}

.blogFilters p {
	align-items: center;
	margin: 0;
}
.servicesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;
}

.servicesPost {
	display: flex;

	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100px;
	background-color: #f4efec !important;
	transition: 0.5s;
}

.servicesPost:hover {
	height: 600px;
}

.serviceDetail h2 {
	font-size: 32px;
	margin: 0.5rem;
}
.serviceDetail span {
}

.serviceDetailContent {
	display: none;
}
.serviceDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.servicesPostImage {
	max-height: 600px;
	width: 100%;
	display: none;
	transition: 0.5s;
}

.servicesPost:hover .servicesPostImage {
	transition: 0.5s;
	display: block;
}

.servicesPost:hover .serviceDetailContent {
	transition: 0.5s;
	display: block;
}

/* IPAD */
@media (min-width: 768px) and (max-width: 1024px) {
	.servicesContainer {
		display: flex;
		justify-content: space-between;
		gap: 0.5rem;
	}

	.servicesPost {
		/* width: calc(50% - 5px); */
		width: 100%;
	}

	/* .servicesPostImage {
		height: 300px;
	} */
}

/* WINDOPWES */
@media (min-width: 1024px) {
	.servicesPost {
		/* width: calc(50% - 5px); */
		width: 100%;
	}
	.servicesPostImage {
		height: 100% !important;
	}
}
