/* Paper style input container */
.input-wrapper {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	padding: 0.5rem 2.5rem;
	transition: box-shadow 0.3s ease-in-out;
}

/* Hover effect to mimic paper */
.input-wrapper:hover {
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.1);
}

/* Paper style input field */
.input-wrapper input {
	border: none;
	box-shadow: none;
	padding: 10px;
	font-size: 16px;
	width: 100%;
	border-radius: 4px;
}

.input-wrapper input:focus {
	outline: none;
}

/* Submit button styling */
.input-wrapper button {
	background-color: #fff; /* White background */
	color: black; /* Text and arrow color */
	border: 0px solid #ddd; /* Light gray border for the button */
	padding: 10px 15px;
	margin-left: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-wrapper button:hover {
	background-color: #faf3eb; /* Slightly darker background on hover */
}

.input-wrapper button i {
	font-size: 18px;
	margin-left: 5px;
}

/* Right arrow icon */
.input-wrapper button i:before {
	content: '\2192'; /* Unicode for right arrow */
}

/* Label */
.input-wrapper label {
	position: absolute;
	top: -18px;
	left: 10px;
	font-size: 14px;
	color: #9e9e9e;
}
#newsletter-form {
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
}
.thankYouMsg {
	display: none;
}
.thankYouMsg.visible {
	display: block; /* Will make it visible when the 'visible' class is added */
}

/* Make input and wrapper same width */
#newsletter-form .input-wrapper,
#newsletter-form input[type='email'],
#newsletter-form .g-recaptcha {
	width: 100%;
	max-width: 400px; /* set a nice max-width */
	margin: 0 auto;
	box-sizing: border-box;
}

/* Scale reCAPTCHA */
#newsletter-form .g-recaptcha {
	transform: scale(1.05); /* adjust this value as needed */
	transform-origin: 0 0; /* so it scales from top left */
}
