{% extends "base.html" %}
{% block title %}Something Went Wrong | House of Gaia{% endblock %}
{% block content %}
    <div class="container">
        <h1 class='v-gap'>500</h1>
        <h3>Something unexpected pierced the system.</h3>
        <p >But don’t worry — elegance always recovers gracefully.</p>

        <p class='v-gap'>Even the most flawless surfaces have their moments. A slip behind the scenes caused a temporary disruption.
             Like a misplaced stud in a curated ear — it’s being realigned.</p>
        <a href="{% url 'redirect_to_home' %}"
           class="waves-effect waves-light btn landingPageViewAllBlogPostBtn">Go to Homepage</a>
    </div>
{% endblock %}
