{% extends "base.html" %}
{% load static %}
{% block title %}
    About | Luxury Piercings and Curated Jewelry | House of
    Gaia
{% endblock %}
{% block description %}
    Learn about House of Gaia, a premier luxury piercing studio offering expert
    services, curated jewelry, and a safe, welcoming environment in St Albert and Edmonton.
{% endblock %}
{% block og_title %}About | Luxury Piercings and Curated Jewelry | House of Gaia{% endblock %}
{% block og_description %}
    Discover the
    story behind House of Gaia, your trusted destination for personalized piercings and exceptional jewelry in a clean, safe
    studio.
{% endblock %}
{% block content %}
    <div class="container">
        <div class="aboutUsDivider"></div>
        <div class="aboutUsContentGap">
            <div class="aboutUsGeneralContainer">
                <div class="aboutUsGeneralText">
                    <h1>ABOUT US</h1>
                    <p>
                        Step into a world of luxury and self-expression at House of Gaia, St. Albert's leading woman-owned
                        piercing studio.
                    </p>
                    <span>At House of Gaia, we focus on custom ear styling and expert piercing placements, reflecting your unique
                        style and personality. Our team of professional piercers is dedicated to providing high-quality piercings
                        while prioritizing client safety and satisfaction.
                    </span>
                    <span>Whether you're visiting for your first piercing or curating your perfect ear piercings, House of Gaia
                        provides an exceptional, luxury experience in a serene, welcoming space. Trust us to bring your vision to
                        life with top-tier artistry and care.
                    </span>
                </div>
                <div class="aboutUsGeneralImage">
                    <img src="{% static 'aboutUsImage.jpeg' %}" />
                </div>
            </div>
            <div class="aboutOwnerGeneralContainer">
                <div class="aboutOwnerGeneralText">
                    <div class="ownerName">
                        <h1>MEET NADIA</h1>
                        <p>Owner & Piercer</p>
                    </div>
                    <span>
                        This love for piercings has driven me to not only pursue my dream but also to create something truly
                        special — a safe, welcoming space.
                    </span>
                    <span>
                        As the owner and piercer at House of Gaia, I’m committed to providing an experience that prioritizes
                        safety, comfort, and personal expression. My goal is to ensure that every client feels empowered and
                        confident, whether it's their first piercing or they’re adding to their collection.
                    </span>
                </div>
                <div class="aboutUsGeneralImage">
                    <img src="{% static 'IMG_4103.jpg' %}" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
