{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block meta %}
            <title>
                {% block title %}Luxury Piercings and Curated Jewelry | House of Gaia{% endblock %}
            </title>
            <meta name="description"
                  content="{% block description %}Welcome to House of Gaia — Your go-to destination for luxury piercings.{% endblock %}" />
            <meta name="keywords"
                  content="House of Gaia, luxury, natural beauty, piercings" />
            <meta name="author" content="House of Gaia" />
            <!-- Open for social sharing info-->
            <meta property="og:title"
                  content="{% block og_title %}Luxury Piercings and Curated Jewelry | House of Gaia{% endblock %}" />
            <meta property="og:description"
                  content="{% block og_description %}Luxury piercings and jewelry studio.{% endblock %}" />
            <meta property="og:image"
                  content="{% block og_image %}{% static 'icons/657f253e480cf87ce3c59c86_Artboard 1-p-500.png' %}{% endblock %}" />
            <meta property="og:url" content="https://houseofgaia.ca" />
            <meta property="og:type" content="website" />
            <!-- Twitter -->
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:title"
                  content="{% block twitter_title %}Luxury Piercings and Curated Jewelry | House of Gaia{% endblock %}" />
            <meta name="twitter:description"
                  content="{% block twitter_description %}Luxury piercings and jewelry studio.{% endblock %}" />
            <meta name="twitter:image"
                  content="{% block twitter_image %}{% static 'icons/657f253e480cf87ce3c59c86_Artboard 1-p-500.png' %}{% endblock %}" />
        {% endblock %}
        <!--  Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet" />
        <!--  Google fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://db.onlinewebfonts.com/c/65c79a29b6ed725883911cb318380955?family=Gilmer+Regular"
              rel="stylesheet" />
        <link rel="stylesheet" href="https://use.typekit.net/vuj2zrw.css">
        <!--  Jquery  -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{% static 'icons/icon.ico' %}" />
        <!--  materialize css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
              rel="stylesheet" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'landingPage.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'aboutUs.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'allBlogs.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blogDetail.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'services.css' %}" />
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'richEditorStyles.css' %}" />
        <script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				"name": "House of Gaia",
				"image": "https://houseofgaia.ca/static/icons/main.svg",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "150 Carleton Dr",
					"addressLocality": "St. Albert",
					"addressRegion": "AB",
					"postalCode": "T8N 6W2",
					"addressCountry": "CA"
				},
				"url": "https://houseofgaia.ca",
				"telephone": "+1-780-686-0125",
				"priceRange": "$$",
				"openingHours": "Tu-Sa 11:00-18:00"
			}
        </script>
    </head>
    <body>
        <div id="splashScreen">
            <img src="{% static 'icons/main.svg' %}" id="splashLogo" alt="Logo" />
        </div>
        <div id="mainContent" style="visibility: hidden">
            <header>
                <div class="navbar-fixed">
                    <nav class="navbar" id="navbar">
                        <div class="nav-wrapper container">
                            <!-- Mobile Menu Trigger -->
                            <a href="#"
                               data-target="mobile-nav"
                               class="sidenav-trigger left hamburgerMenu"
                               id="hamburgerMenu">
                                <i class="material-icons">menu</i>
                            </a>
                            <!-- Left-Aligned Links (About Us) -->
                            <ul class="left hide-on-med-and-down">
                                <li>
                                    <a href="{% url 'redirect_to_home' %}">HOME</a>
                                </li>
                               <li>
                                    <a href="{% url 'allServices' %}">PIERCINGS</a>
                                </li> 
                                <li>
                                    <a href="{% url 'about' %}">ABOUT</a>
                                </li>
                                <li>
                                    <a href="{% url 'allBlogs' %}">BLOGS</a>
                                </li>
                            </ul>
                            <!-- Centered Logo -->
                            <a href="{% url 'redirect_to_home' %}" class="brand-logo center">
                                <img src="{% static 'icons/main.svg' %}"
                                     id="brandLogo"
                                     alt="Logo"
                                     class="brandLogo" />
                            </a>
                            <ul class="right hide-on-med-and-down">
                                <li>
                                    {% comment %} <a class="btn transparent waves-effect waves-light booking-btn">BOOK ONLINE</a> {% endcomment %}
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="sidenav" id="mobile-nav">
                    <div class="sidebar-container">
                        <div class="sideBarCloseBtn">
                            <li class="large material-icons">close</li>
                        </div>
                        <ul>
                            <li>
                                <a href="{% url 'redirect_to_home' %}" class="sidebar-links">HOME</a>
                            </li>
                           <li>
                                <a href="{% url 'allServices' %}" class="sidebar-links">PIERCINGS</a>
                            </li> 
                            <li>
                                <a href="{% url 'about' %}" class="sidebar-links">ABOUT</a>
                            </li>
                            <li>
                                <a href="{% url 'allBlogs' %}" class="sidebar-links">BLOGS</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                {% comment %} <a class="btn white waves-effect waves-light booking-btn">BOOK ONLINE</a> {% endcomment %}
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <main>
                {% block content %}{% endblock %}
                <div class="container socialMediaIcons">
                    <div class="icons">
                        <a href="https://www.instagram.com/houseofgaia_co?igsh=MWt0ZjVlYjc0Y3BpYg%3D%3D&utm_source=qr"
                           target="_blank">
                            <div>
                                <img src="{% static 'icons/instagram black.png' %}" alt="Instagram Icon" />
                            </div>
                        </a>
                        <a href="https://www.tiktok.com/@houseofgaiaco" target="_blank">
                            <div>
                                <img src="{% static 'icons/tik-tok black.png' %}" alt="TikTok Icon" />
                            </div>
                        </a>
                    </div>
                </div>
            </main>
            <footer class="page-footer">
                <div class="container centered-footer">
                    <div class="row">
                        <div class="col s12 footer-row">
                            <ul class="footer-row">
                                <li>
                                    <a class="black-text text-lighten-3" href="{% url 'redirect_to_home' %}">HOME</a>
                                </li>

                                
                                <li>
                                    <a class="black-text text-lighten-3" href="{% url 'about' %}">ABOUT</a>
                                </li>

                                <li>
                                    <a class="black-text text-lighten-3" href="#!">BOOK ONLINE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container copyright-text ">
                        <div>
                            &copy; <span id="footer-year"></span> <span>All Rights reserved.
                            {% if request.user.is_authenticated and request.user.is_superuser %}
                                <p>
                                    <strong>Views:</strong> {{ hit_count }}
                                </p>
                            {% endif %}
                        </h2>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- MailerLite Universal -->
<script type="text/javascript" src="{% static 'functions.js'  %}" defer></script>

<script type="text/javascript" src="{% static 'services.js'  %}" defer></script>
<script>
			(function (w, d, e, u, f, l, n) {
				(w[f] =
					w[f] ||
					function () {
						(w[f].q = w[f].q || []).push(arguments);
					}),
					(l = d.createElement(e)),
					(l.async = 1),
					(l.src = u),
					(n = d.getElementsByTagName(e)[0]),
					n.parentNode.insertBefore(l, n);
			})(window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
			ml('account', '1479163');
			document.addEventListener('DOMContentLoaded', function () {
				var elems = document.querySelectorAll('.sidenav');
				M.Sidenav.init(elems);
			});
</script>
<!-- End MailerLite Universal -->
</body>
</html>
