{% extends "base.html" %} 
{% load static %} 

{% block title %}Coming Soon | House of Gaia{% endblock %} 

{% block description %}We’re almost ready to launch something beautiful. Stay tuned!{% endblock %} 
{% block og_title %}Coming Soon | House of Gaia{% endblock %} 
{% block og_description %}An eco-conscious lifestyle brand is on its way. Be the first to know!{% endblock %} 
{% block content %}
<div class="container">
	<div class="left">
		<h4>Coming Soon</h4>
		<p>We're currently working on something fantastic.</p>

		<div class="icons">
			<div><img src="{% static 'icons/facebook.png' %}" alt="Facebook Icon" /></div>
			<div><img src="{% static 'icons/instagram.png' %}" alt="Instagram Icon" /></div>
			<div><img src="{% static 'icons/tiktok.png' %}" alt="TikTok Icon" /></div>
		</div>
	</div>

	<img src="{% static 'icons/baseWallpaper.jpeg' %}" alt="Base Wallpaper" class="right" />
</div>
{% endblock %}
