{% extends "base.html" %}
{% load static %}
{% block title %}Luxury Piercings and Curated Jewelry  | House of Gaia{% endblock %}
{% block description %}
    Experience expert luxury piercings and curated jewelry in a clean, safe, and welcoming studio. House of Gaia offers personalized body art and healing care to St Albert and Edmonton.
{% endblock %}
{% block og_title %}Luxury Piercings and Curated Jewelry | House of Gaia{% endblock %}
{% block og_description %}
    Discover House of Gaia, your premier luxury piercing studio offering unique, high-quality jewelry and expert care in a safe, hygienic environment for all.
{% endblock %}
{% block content %}
    <div class="landingPageBackgroundPhoto"
         id="landingPageBackgroundPhoto"
         croppedUrl="{% static 'icons/657f253e480cf87ce3c59c86_Artboard 1-p-500.png' %}"
         originalUrl="{% static 'icons/657f253e480cf87ce3c59c86_Artboard 1-p-500.png' %}">
        <div class="landingPageMainQuote">
            <h1>
                LUXURY PIERCINGS&nbsp;&nbsp;&
            </br>
            CURATED JEWELRY
        </h1>
        <a class="waves-effect waves-light btn bookNowBtn" href="{% url 'enter_code' %}">BOOK NOW</a>
    </div>
    <div class="backgroundPhotoCover"></div>
</div>
<h2 class="one-line v-gap">
    <span>HELIX&nbsp;&nbsp;TRAGUS&nbsp;&nbsp;LOBE&nbsp;&nbsp;FLAT&nbsp;&nbsp;CONCH&nbsp;&nbsp;NOSTRIL</span>
</h2>
<div class="container">
    <div class="row center-align">
        <div class="col s12">
            <div class="centered-window-text">
                <p class="">
                    Experience luxury piercing at House of Gaia, St Albert and Edmonton’s premier studio for expert ear and nose piercings. We offer a personalized, high-end experience in a serene, modern setting, focused on safety, precision, and self-expression. From custom ear styling to flawless placements, our skilled piercer ensures each piece reflects your unique style.
                </p>
            </div>
        </div>
    </div>
</div>







<div class='landingPageServices'>
    <h2 class=''>OUR PIERCINGS</h2>


<div class='container v-gap'>
        <div class='serviceScroll'>
           <a class="scrollBtn left" onclick="scrollServices('left', 3)">←</a>
            <div class="servicesContainer">
                {% for service in allServices %}
                <div class="serviceCard">
                    <a class='serviceImageLink'>
                        <div class='serviceImageCover'>{{ service.title }} </div>
                        <img class="servicesPostImage" src="{{ service.image_hero_small.url }}"/> 
                        
                    </a>
                    
                    <div class="serviceDetail">
                        <a onclick="updateJewelryForPiercing(this)" data-service-title="{{ service.title }}" data-service-id="{{ service.id }}" >
                            <h2 class="serviceDetailTitle">{{ service.title }}</h2>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <a class="scrollBtn right" onclick="scrollServices('right', 3)">→</a>
        </div>
        <div class="carouselDots"></div> 

    </div>

</div>



<div class='landingPageBlogPosts'>
    <h2 class='landingPageBlogHeader'>THE PIERCING EDIT</h2>
    <div class='blogPostContainer'>
        {% for blog in blogs %}
            <div class='landingPageBlogPost'>
                <a class="" href="{% url 'blogDetail' slug=blog.slug %}">
                    <img class='landingPageBlogPostImage' src="{{ blog.image.url }}" />
                </a>
                <a class="landingPageBlogPostTitle"
                   href="{% url 'blogDetail' slug=blog.slug %}">
                    <span class='landingPageBlogPostTitle two-line-text '>{{ blog.title }}</span>
                </a>
                <span class='landingPageBlogPostDate'>{{ blog.created_at }}</span>
                <div class='landingPageBlogPostContent'>{{ blog.summary }}</div>
                <a class="waves-effect waves-light btn landingPageBlogPostBtn"
                   href="{% url 'blogDetail' slug=blog.slug %}">- READ MORE</a>
            </div>
        {% endfor %}
    </div>
    <a class="waves-effect waves-light btn landingPageViewAllBlogPostBtn"
       href="{% url 'allBlogs' %}">View All</a>
</div>















<div class="landingPageSecondPhoto"
     id="landingPageSecondPhoto"
     croppedUrl="{% static 'icons/houseOfGaia2.jpg' %}"
     originalUrl="{% static 'icons/houseOfGaia2 cropped.jpg' %}">
    <div class="backgroundPhotoCover"></div>
</div>



<div class="newsletterSection">
    <div class="ml-embedded" data-form="UH9fj9"></div>
    <div style="display: flex; justify-content: center; align-items: center">
        <div class="preloader-wrapper active"
             id="loader"
             style="margin: 10px auto;
                    display: none">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="googleMap">
    <div class='addressContainer'>
        <h3>OUR STUDIO</h3>
        <p>
            #140 150 Carleton Drive
        </br>
        St. Albert, AB T8N 6W2
    </p>
    <p>BY APPOINTMENTS ONLY</p>
    <p>(780) 686-0125</p>
    <a class="waves-effect waves-light btn landingPageBlogPostBtn"
       target="_blank"
       href="https://maps.app.goo.gl/pfBngQr6eQbzmwE18">Get Directions</a>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2364.8363697718933!2d-113.57693372291783!3d53.64988975196778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53a0252a7ce10515%3A0xae0ecf84c7768938!2sHouse%20of%20Gaia!5e0!3m2!1sen!2sca!4v1748839524860!5m2!1sen!2sca"
        width="300"
        height="500"
        style="border:0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<script></script>
{% endblock %}
