{% extends "base.html" %}
{% load static %}
{% block title %}House of Gaia{% endblock %}
{% block description %}
    We’re
    almost ready to launch something beautiful. Stay tuned!
{% endblock %}
{% block og_title %}House of Gaia{% endblock %}
{% block og_description %}A new luxury piercing studio is on the way!{% endblock %}
{% block content %}
    <div class="landingPageBackgroundPhoto v-gap"
         id="landingPageBackgroundPhoto"
         croppedUrl="{% static 'icons/657f253e480cf87ce3c59c86_Artboard 1-p-500.png' %}"
         originalUrl="{% static 'icons/657f253e480cf87ce3c59c86_Artboard 1-p-500.png' %}">
        <div class="landingPageMainQuote"></div>
        <div class="backgroundPhotoCover"></div>
    </div>
    <div class="container">
        <div class="row">
            <h1 class="col s12 center-align mainHeader">Defined by Elegance. Designed for You.</h1>
        </div>
        <div class="row">
            <p class="col s12 m6 offset-m3 center-align v-gap">
                Discover the art of piercing at House of Gaia, the premier luxury piercing studio serving St. Albert, Edmonton,
                and surrounding areas.
            </p>
            <p class="col s12 m6 offset-m3 center-align v-gap">
                We specialize in professional ear and nose piercings, offering a personalized and elevated experience in a
                serene, modern environment. Our expert piercer is dedicated to quality, safety, and personal expression,
                ensuring every client leaves with a piece that feels uniquely theirs.
            </p>
            <p class="col s12 m6 offset-m3 center-align v-gap">
                From custom ear styling to precision placements, every service at House of Gaia is designed with your vision in
                mind. Whether you're planning your first piercing or curating your perfect earscape, experience the finest in
                luxury piercing at House of Gaia — where artistry, comfort, and excellence meet.
            </p>
        </div>
        <div class="verticalBarContainer">
            <div class="verticalBar"></div>
        </div>
        <div class="newsletterSection">
            <div class="ml-embedded" data-form="UH9fj9"></div>
            <div style="display: flex; justify-content: center; align-items: center">
                <div class="preloader-wrapper active"
                     id="loader"
                     style="margin: 10px auto;
                            display: none">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
