{% extends "base.html" %}
{% load static %}
{% block title %}
    Services | Luxury Piercings and Curated Jewelry | House of
    Gaia
{% endblock %}
{% block description %}
    Discover our premium piercing services at House of Gaia. From custom designs
    to expert advice and aftercare, we provide the ultimate luxury experience for your jewelry and piercing needs.
{% endblock %}
{% block og_title %}Piercing Services | Luxury Piercings and Curated Jewelry | House of Gaia{% endblock %}
{% block og_description %}
    Explore our exclusive piercing services at House of Gaia, where we offer expert guidance,
    luxury jewelry, and the finest care for every piercing experience.
{% endblock %}
{% block content %}
    <div class="servicesTitle v-gap"></div>
    <div class="container servicesRowSpacer">
        <div class="titleRow">
            <h1>Our Services</h1>
        </div>
        <div class="servicesContainer">
            {% for service in allServices %}
                <div class="servicesPost">
                    <img class="servicesPostImage" src="{{ service.image_hero_large.url }}" />
                    <div class="serviceDetail">
                        <h2 class="">{{ service.title }}</h2>
                        <span class="">${{ service.price }}</span>
                        <p class='serviceDetailContent'>
                            randomshitrandomshitrandomshitrandomshit randomshitrandomshit randomshitrandomshitrandomshit randomshitrandomshit
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
